/* Header for all web pages */
header {
    background-color: #2a5587;
    top: 0%;
    left: 0%;
    min-width: 100%;
    position: fixed;
    padding: 4px;
    font-size: 30px;
    color: #fcfcfc;
    margin: 0%;
    text-indent: 1%;
}
/* Footer for all web pages */
footer {
    background-color: #737480;
    bottom: 0%;
    left: 0%;
    padding: 20px;
    min-width: 100%;
    position: fixed;
    font-size: 20px;
}
/* Images */
img {
    width: 30px;
    height: 30px;
}
/* Navigation */
nav a {
    text-align: right;
    margin-left: 85%;
    color: #fcfcfc;
    position: fixed;
    top: 1%;
    font-size: 20px;
}
/* Headings */
h1 {
    font-size: 30px;
    top: 10%;
    position: fixed;
    left: 5%;
}
/* Admin and Customer table Id */
#menu {
    top: 20%;
    position: fixed;
    left: 5%;
    border: 0px solid #fcfcfc;
    width: 38%;
}
/* Anchor link Id for cart */
#cart {
    margin-left: 90%;
}
/* Edit menu table Id */
#edit-menu {
    top: 20%;
    position: fixed;
    left: 5%;
}
/* Edit menu table Id 2 */
#menu2 {
    top: 26%;
    position: fixed;
    left: 5%;
}
/* Edit menu label Id */
#edit-menu label {
    color: #55595e;
} /* Edit Menu 2 label Id */
#menu2 label {
    color: #55595e;
}
/* Save button in edit menu webpage */
#button1 {
    width: 5%;
    height: 5%;
    position: fixed;
    background-color: #2a5587;
    color: #fcfcfc;
}
/* P tag in edit menu item status webpage */
p {
    color: #37bf7b;
    top: 20%;
    position: fixed;
    left: 5%;
}
/* P tag Id name in customer notification webpage */
#item {
    left: 20%;
}

/* Customer notification page */
#item-added {
    top: 30%;
    position: fixed;
    left: 5%;
    width: 45%;
}
/* P tag Id name in cart empty webpage */
#menu-item {
    color: #737480;
    font-size: 19px;
}
/* Table Id name in cart webpage */
#menu1 {
    width: 30%;
    top: 23%;
    position: fixed;
    left: 5%;
}
/* Anchor Id name for Delete */
#cart-link {
    color: #000000;
}
/* Anchor tag Id name in cart empty webpage */
#menu-item a {
    color: #1a83c4;
    font-size: 19px;
}
/* menu item list customer and cart jsp page */
#cart-status {
    top: 15%;
    left: 3.3%;
    position: fixed;
    font-family: Arial, sans-serif;
    color: #37bf7b;
    left: 5%;
}